* {
  margin: 0;
  color: #111d13;
  line-height: 2;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fefbf6;
}

h1,
h3,
i {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  text-align: left;
}

h2,
h4,
h5, 
H6 
 {
  font-weight: 200;
  color: #111d13;
}

button,
a {
  font-weight: 400;
  color: #111d13;
}

.self-intro, .my-work-text {
  padding: 50px;
  /* margin-bottom: 50px; */
}

.my-work-text {
  color: #C81676;
}

h1.self-intro {
  font-size: 80px;
}

.self-intro-picture {
  display: block;
  margin-left: auto;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.about-me-picture {
  display: block;
  margin-left: auto;
  width: 100%;
  height: auto%;
  margin-bottom: 50px;
}

.lineBreak {
  margin-top: 10%;
  max-width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.my-work-text{
  padding-left: 50px;

}
footer {
  padding-left: 30px;
  padding-right: 30px;
}

.caseStudyPicture {
  display: block;
  margin-left: auto;
  height: 20%;
}
/* Nav */
.nav-container {
  width: 100%;
  height: 10vh;
  display: flex;
  background-color: #FFFCDF;
}
.nav-img-container {
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  background-color: #FFFCDF;
}
.nav-img {
  max-height: 100%;
  width: auto;
  background-color: #FFFCDF;
}
.nav-links-container {
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: space-around;
  background-color: #FFFCDF;
}
.hovered-nav-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #FFFCDF;
}
.nav-menu {
  color: #C81676;
  background-color: #FFFCDF;
}
/* Hover Animation CSS */
.hovered-button-container {
  position: relative;
  height: 5rem;
  max-width: 12rem;
}

.hover-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.hover-button:hover {
  text-decoration: none;
}

.hover-button:hover + .hover-animation-container {
  opacity: 1;
}

.hover-animation-container {
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  position: relative;
  transition: all ease-in-out 0.2s;
}

.hover-img {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
