* {
  margin: 0;
  color: #111d13;
  line-height: 2;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fefbf6;
}

h1,
h3,
i {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  text-align: left;
}

h2,
h4,
h5,
h6 {
  font-weight: 200;
  color: #111d13;
}

button,
a {
  font-weight: 400;
  color: #111d13;
}

.self-intro,
.my-work-text {
  padding: 50px;
}

.my-work-text {
  color: #c81676;
}

h1.self-intro {
  font-size: 80px;
}

.self-intro-picture {
  display: block;
  margin-left: auto;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.about-me-picture {
  display: block;
  margin-left: auto;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.lineBreak {
  margin-top: 10%;
  max-width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.line-height {
  line-height: 1.5rem;
}
footer {
  padding-left: 30px;
  padding-right: 30px;
}

.caseStudyPicture {
  display: block;
  margin-left: auto;
  height: 20%;
}
/* Nav */
.nav-container {
  max-width: 100%;
  height: 10vh;
  display: flex;
  background-color: #fffcdf;
}
.nav-img-container {
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  background-color: #fffcdf;
}
.nav-img {
  max-height: 100%;
  width: auto;
  background-color: #fffcdf;
}
.nav-links-container {
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: space-around;
  background-color: #fffcdf;
}
.hovered-nav-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fffcdf;
}
.nav-menu {
  color: #c81676;
  background-color: #fffcdf;
}
/* Hover Animation CSS */
.hovered-button-container {
  position: relative;
  height: 5rem;
  max-width: 12rem;
}

.hover-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.hover-button:hover {
  text-decoration: none;
}

.hover-button:hover + .hover-animation-container {
  opacity: 1;
}

.hover-animation-container {
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  position: relative;
  transition: all ease-in-out 0.2s;
}

.hover-img {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.nav-options-container {
  display: none;
  pointer-events: none;
}

.password-input, .password-page {
  margin: auto;
  padding: 10px;
  width: 50%;
  border: solid;
}

input {
  border: 3px solid #C81676;
  border-radius: 10px;
  padding-left: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


/* MOBILE ONLY */
@media screen and (max-width: 540px) {
  .my-work-text {
    font-size: 1.4rem;
    white-space: nowrap;
    padding: 0;
  }

  .self-intro {
    padding: 30px 30px 0 30px;
  }
  .intro-title {
    font-size: 1.8rem;
  }
  .special-description {
    white-space: nowrap;
    font-size: 0.8rem;
  }
  .mobile-text-center {
    text-align: center;
  }
  .hovered-button-container {
    position: relative;
    height: 5rem;
    max-width: 12rem;
    margin: auto;
  }
  .caseStudy .container {
    margin-top: 2rem;
  }
  .mobile-flex {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-around;
  }
  .nav-links-container {
    display: none;
    pointer-events: none;
  }

  /* Navbar burger */
  .nav-burger {
    background-color: #fffcdf;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .nav-options-container {
    pointer-events: none;
    transition: 0.4s;
    opacity: 0;
    display: flex;
    pointer-events: all;
    flex-direction: column;
    background-color: #fffcdf;
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 10vh;
    left: 0;
    justify-content: space-around;
    align-items: center;
  }

  .add-nav {
    pointer-events: all;
    opacity: 1;
  }
}