/*password*/
input {
    border: 3px solid #C81676;
    border-radius: 5px;
    padding-left: 2%;
    text-align: left;
    text-decoration: none;
    
  }

.password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-input, .password-page {
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}
.lineBreak-no-margin {
    max-width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hidden-content {
  display: none
}